@import './var.scss';
html, body, section, h1, h2, h3, h4, h5, h6, ul, li, ol, p, div, dl, dt, dd, input, textarea, select, form{
    margin: 0;
    padding: 0;
}
body, section, h1, h2, h3, h4, h5, h6, ul, li, ol, p, div, dl, dt, dd, input, textarea, select, form{
    font-size: .213333rem;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #222;
}
img {
    display: block;
    border: 0 none;
}
input, select, textarea, button {
    outline: none;
}

.clearfix::after {
    content: '';
    height: 0px;
    display: block;
    overflow: hidden;
    visibility: hidden;
    zoom: 1;
    clear: both;
}
em, i { font-style: normal; }

.fl { float: left; }

.fr { float: right; }
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 @keyframes backOpacity{
    0%   { opacity: 1 }
    25%  { opacity: .5 }
    50%  { opacity: 1 }
    75%  { opacity: .5 }
    100% { opacity: 1 }
 }
 
 .animation_opactiy{
     animation: backOpacity 2s ease-in-out infinite;
 }

 // 增空题空格选项的样式
 .space{
     border-bottom: 1px solid #333;
     padding: 0 .8rem;
     text-align: center;
 }