$main-color: #58bc58;
$font-color: #58bc58;
$button-color: #F09B22;

// flex布局 
@mixin fj ($direction: row,$justify: space-between) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}